.currency {
    display: flex;
    flex-direction: column;
}

.currency__header {
    padding: 15px;
    text-transform: uppercase;
    font-size: small;
    font-weight: bold;
    color: #a7a7a7;
}

.currency__list {
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
}

.currency__list > button {
    width: 30%;
    height: 40px;
    background-color: transparent;
    color: #75BDF6;
    outline: none;
    border: 1px solid #D1D4D5;
}

.currency__list > button:hover {
    background-color: #F2FCFF;
    border-color: #75BDF6
}

.currency__list > button:last-child {
    border-radius: 0 5px 5px 0;
}

.currency__list > button:first-child {
    border-radius: 5px 0 0 5px;
}

.currency__list > button[class="selected"] {
    background-color: #2096F3;
    border: 1px solid #2096F3;
    color: white;
}