.filter {
    display: flex;
    flex-direction: column;
}

.filter__header {
    display: flex;
    padding: 15px;
    text-transform: uppercase;
    font-size: small;
    font-weight: bold;
    color: #a7a7a7;
}

.filter__list ul {
    position: relative;
    list-style: none;
    color: #a7a7a7;
    padding: 0;
    margin: 0;
}

.filter__item {
    height: 40px;
    display: flex;
    align-items: center;
}

.filter__item > input {
    display: none;
}

.filter__item > label {
    position: absolute;
    padding-left: 45px;
}
.filter__list input[type=checkbox] + label::before {
  content: "";
  position: absolute;
  outline: none;
  left: 1px;
  top: 0;
  width: 27px;
  height: 20px;
  outline: 0;
  background-image: url('../assets/checkbox.png');
  background-repeat: no-repeat;
  left: 15px;
}

.filter__list input[type=checkbox]:checked + label::before {
  background-image: url('../assets/checkbox.png');
  background-position: 0 100%;
}

.filter__stopOnly {
    visibility: hidden;
}

.filter__item:hover  input[type=checkbox]:checked + label + .filter__stopOnly {
    visibility: visible;
    position: relative;
    left: 175px;
    color: #4696F3;
    font-weight: bold;
    font-size: 14px;
}

.filter__stopOnly:hover {
    cursor: pointer;
}

.filter__item:hover { 
    background-color: #F1FCFF;
}