.settings {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border-radius: 5px;
    background-color: white;
	box-shadow: 0 0 10px #E6ECF3;
}

.settings {
	width: 250px;
	display: flex;
	flex-direction: column;
	flex-grow: 0;
	flex-shrink: 0;
    background-color: #fff;
	border: #333;
	border-radius: 5px;
	box-shadow: 0 0 10px #E6ECF3;
}

@media screen and (min-width: 768px){
    .settings {
		margin: 0;
		margin-top: 5px;
    }
}

@media screen and (min-width: 1200px) {
    .settings {
        margin: 5px auto;
    }
}

@media screen and (max-width: 780px) {
	.settings__panel {
		width: 100%;
		flex-grow: 1;
		flex-shrink: 1;
	}
}

@media screen and (min-width: 600px) and (max-width: 780px) {
	.settings__panel {
		flex-direction: row;
	}
}

@media screen and (max-width: 450px) {
	.settings__panel {
		flex-direction: row;
	}
}
