.ticketList {  
	display: flex;
    flex-direction: column;
    align-items: center;
	/* flex-grow: 1; */
	flex-shrink: 1;
}

@media screen and (min-width: 768px) {
    .ticketList {
        display: flex;
        flex-direction: column;
        margin: 0;
    }
}