.app {
  background-color: #F3F7FA;
}

.app__content {
  display: flex;
  flex-direction: column;
}

p {
  margin: 5px 0;
}

@media screen and (min-width: 768px) {
  .app__content {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: row;
  }
}

@media screen and (min-width: 1200px) {
  .app__content {
    margin: 0 auto;
    width: 930px;
  }
}

