* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	border: 0;
}

html {
	width: 100%;
	height: 100vh;
}

body {
	width: 100%;
	height: 100vh;
	min-width: 320px;
	
	font-family: 'Open Sans', sans-serif;
	color: #4a4a4a;
	background-color: #f3f7fa;
}